multiprocessStartMethod: "spawn"
logging:
  logLevel: "DEBUG"
  #printFormat:
  console:
    enabled: true
  file:
    enabled: true
    path: "/opt/project/asd.log"
consumers:
  - className: "UsersWorker"
    module: "app.consumers.users"
    enabled: true
    workers: 2
broker:
  protocol: "amqp"
  host: "<<REDACTED>>"
  #port:
  username: "<<REDACTED>>"
  password: "<<REDACTED>>"
  vHost: "<<REDACTED>>"

